:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height:100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(104,98,91);
  background: linear-gradient(180deg, rgba(104,98,91,0.55) 0%, rgba(104,98,91,0.75) 30%, rgba(104,98,91,1) 50%);
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  margin: 0.8rem 0 0.8rem 0;
}
